
#teamChart {
    min-height: 204px;
}
.search {
    width: 157px;
    text-align: right;
    padding-right: 10px;
}
.searchResult {
    display: inline-block;
    // width: 620px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #797979;
    font-size: 13px;
}

.loading img {
    height: 100%;
}
.loading {
    height: 204px;
    text-align: center;
}

.template {
    display: none;
}
.row:first-child {
    border-top: solid 1px #e5e5e5;
}
.row.big {
    height: 50px;
}

.row {
    overflow: hidden;
    height: 25px;
    border-bottom: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
}

.row.big .label {
    line-height: 50px;
    height: 50px;
}
.row .label a {
    color: #797979;
}
.row .label {
    border-right: solid 1px #e5e5e5;
    color: #797979;
    font-size: 13px;
    width: 160px;
    padding-right: 10px;
    display: inline-block;
    float: left;
    height: 25px;
    text-align: right;
    line-height: 25px;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row:hover .label, .row.open .label {
    overflow: visible;
}

.enumerate.hide {
    position: relative;
    height: 280px;
    overflow: hidden;
}
.enumerate.hide:after {
    content: "Show all";
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: white;

    background: rgba(0, 0, 0, 0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74)); /* Standard syntax */
}
.enumerate .row .label .place {
    float: left;
}

.row.big .bar {
    height: 45px;
}
.row .bar {
    /*background-color: red;*/
    height: 20px;
    padding-top: 5px;
    margin-left: 170px;
    // width: 629px;
}

.row.big .bar .value {
    height: 40px;
    line-height: 45px;
}
.row:hover .bar .value, .row.open .bar .value {
    background-color: #e5e5e5!important;
    height: 100%;
    margin-top: -2px;
    color: gray;
}
.row .bar .value {
    color: rgba(0, 0, 0, 0);
    background-color: #e5e5e5;
    height: 15px;
    line-height: 20px;
    vertical-align: center;
    text-align: right;
    width: 0%;
    transition: 0.1s height, margin-top 0.1s, background-color 0.1s, color 0.5s;
    white-space: nowrap;
}

.row .button {
    display:none;
    font-size: 9px;
    line-height: 10px;
    border: 1px solid #797979;
    padding: 1px;
    border-radius: 4px;
    background-color: #e5e5e5;
    margin-right: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.row .button .big {
    font-size: 17px;
    line-height: 18px;
    float: left;
    margin-right: 5px;
}


.expandable .row:hover, .expandable .row.open {
    height: 50px;
    white-space: nowrap;
    /*overflow-x: auto;*/
    /*overflow-y: hidden;*/
}
.expandable .row:hover .button, .expandable .row.open .button {
    display: inline-flex;
}

#gym-description {
    display: none;
    overflow: hidden;
}
