---
layout: default
---

<div class="home">

  <h1 class="page-heading">Objave</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.hidden != true %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2 style="margin-bottom: 0;">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.description %}
        <p>
          {{post.description}}
        </p>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">naroči se <a href="{{ "/feed.xml" | relative_url }}">preko RSS</a></p>

</div>
